body{
    padding:.25in;
    margin:.25in;
}

h1{
    font-size: 32px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 12px;
}

.page{
    height: 9.75in;
    width: 7.25in;
/*
    border-style: solid;
    border-color: #388E3C;
    border-width: thick;
*/
    margin: .2in;
}
.italic{
    font-style: italic;
}
.textCenter{
    text-align: center;
}

.sectionHeading{
    background: #388E3C;
    color: white;
    font-weight: bold;
    padding: 10px
}

.tableHeading{
    background: #C8E6C9;
    color: #757575;
    padding: 8px;
}

.record{
    width: 3in;
}
.divider{
    height:2px;
    width: auto;
}

textRight{
    text-align: right;
}
.dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #4CAF50; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
