html{
    font-family:Century Gothic;
background-color: darkred;}
.view{
    background-color: darkred;
    padding: .1in;
    height: 10in;
}
.data{
    font-size: 20pt;
    min-height: 6in;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    background-color: white;
    color:black;
    padding: .1in;
    margin: .1in;
}

.button{
    padding: .1in;
    height: 1.5in;
    min-width: 2in;
    font-size: 20pt;
}

.bottom {
    margin: .1in;
    z-index: 1;
    max-height:25%;
    background-color: #333;
    bottom:.2in;
    position: absolute;
    width:90%;

}

.buttons {
    z-index: 2;
    width:70%;
    display: -webkit-flex;
    display: flex;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    overflow:auto;
    white-space: nowrap;
}

.bottom button:hover {
    background-color: #777;
}

.timerButton{
    z-index: 3;
    position: absolute;
    right:-3%;
    bottom:-.14in;
    width: in;
    height: 2in; 
    font-size: 20pt;

}

header{    
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color:darkred;
    border: none;
    color:white;
    padding: .1in;
    font-size: 20pt;
    
}

