       body {}
       
       .tasks {
           float: left;
           width: 30%;
           height: 1in;
           margin: 10px;
           padding: 10px;
           border: 1px solid black;
       }
       
       canvas {
           display: none;
       }
       
       #dragItem {
           width: 150px;
           height: 100px;
       }
       
       #pause {
           visibility: hidden;
           z-index: 2;
           width: 175px;
           height: 175px;
           bottom: 70px;
           position: fixed;
       }
       
       #start {
           width: 200px;
           height: 200px;
           visibility: visible;
           z-index: 1;
           bottom: 70px;
           position: fixed;
       }
       
       #stop {
           width: 175px;
           height: 175px;
           bottom: 70px;
           position: fixed;
           right: 70px
       }

        #delete {
           width: 175px;
           height: 175px;
           bottom: 70px;
           position: fixed;
           right: 70px;
            visibility: hidden;
       }

       .controls {
           width: 70%;
           padding: 5%;
           margin: 5%;
           display: block;
           position: absolute;
           bottom: 0;
           float: left;
       }
       /*
.controlButtons{
    width: 200px;
    height: 200px;
}*/